# Function
positional arguments

In [3]:
def Sum(no_1 , no_2): #parameter
    final_val = no_1 + no_2
    print(final_val)

In [4]:
Sum(5,8) #argument

13

In [5]:
Sum(7,3)

10

In [28]:
def calculator(num_1 , ope , num_2):
    if ope == "+":
        result = num_1 + num_2
    elif ope == "-":
        result = num_1 - num_2
    elif ope == "*":
        result = num_1 * num_2
    elif ope == "/":
        result = num_1 / num_2
    else:
        print("Invalid number or operator")
    print(result)

In [29]:
calculator(2 , "+" , 2)

4

In [30]:
calculator(8 , "-" , 4)

4

In [31]:
calculator(2 , "*" , 2)

4

In [32]:
calculator(8 , "/" , 2)

4.0

In [34]:
def abc():
    x = 6+9
    print(x)

In [35]:
abc()

15

In [36]:
def friends_list(friends):
    for friend in friends:
        print(friend)

In [38]:
my_friend=["a" , "b" , "c" , "d"]
friends_list(my_friend)

a
b
c
d

In [40]:
x = "hi everyone"
friends_list(x)

h
i

e
v
e
r
y
o
n
e

In [61]:
full = ["abc" , "def" , "ghi" , "jkl"]
empty = []

In [62]:
def friends(old , new):
    if len(old) == 0:
        print("old list is now empty")
    else:
        new.append(old.pop())
        for c in new:
            print(c)

In [68]:
friends(full , empty)

old list is now empty

In [71]:
def append_list(list1 , list2):
    for l1 in list1:
        list2.append(l1)
    for l2 in list2:
        print(l2)

In [72]:
append_list([1,2,3,4,5] , [])

1
2
3
4
5

In [75]:
def my_name(f_name , l_name):
    print(f_name + " " + l_name)

In [76]:
my_name("Muhammad" , "Bilal")

Muhammad Bilal

key word argument

In [77]:
my_name(l_name="Bilal" , f_name="Muhammad")

Muhammad Bilal

In [78]:
def me_and_father(m_name , f_name):
    print(f"My name is {m_name}")
    print(f"My father name is {f_name}")

In [79]:
me_and_father(m_name="bilal" , f_name="akhlaq")

My name is bilal
My father name is akhlaq

In [86]:
def make_juice(a , b , c):
    print(a)
    print(b)
    print(c)

In [91]:
make_juice("sugar" , c="powder" , b="water")

sugar
water
powder

In [92]:
def make_juice(d , e , f , g):
    print(d)
    print(e)
    print(f)
    print(g)

default perameter

In [103]:
def my_full_name(fname , lname , mname=" "):
    if mname!=" ":
        print(fname + " "  + mname + " " + lname)
    else:
        print(fname + " " + lname + " "  + mname )

In [105]:
my_full_name("Muhammad" , "bilal"  )

Muhammad bilal

In [7]:
def table(number):
    for tbl in range(1,11):
        print(f"{number} x {tbl} = {number * tbl}")

In [9]:
table(number = int(input("Enter the table number: ")))

Enter the table number: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [20]:
def dis_cal(val):
    if val > 100:
        dis_val = val - 5
        return dis_val
    else:
        return val

In [23]:
bill = dis_cal(1209)
print(f"your bill is {bill}")

your bill is 1204

In [12]:
dis_cal(109)

104

In [14]:
def f_ret(a):
    return a + 10

In [15]:
x = f_ret(5)
print(x)

15

In [1]:
def name(first_name):
    for khan in first_name:
        print(khan + " " + "khan")

In [2]:
name(["ahmed" , "syed" , "sir"])

ahmed khan
syed khan
sir khan