# tupple

In [1]:
tupple = (1, 2, 3, 4, 5, 6, 7)

In [2]:
tupple[:4]

(1, 2, 3, 4)

In [3]:
#only slicing we can not update delete etc

In [4]:
tupple[4]

5

In [5]:
#packing
cities = ("khi" , "lhr" , "multan")

In [6]:
#unpacking
largest, bigger, small = cities

In [7]:
largest

'khi'

In [8]:
largest = "isl"

In [9]:
cities

('khi', 'lhr', 'multan')

# for loop

In [10]:
#complexity increases when number of lines decreases but increases efficiency

In [13]:
for a in range(10):
    print(a, "Bilal")
#starts from 0 and one less

0 Bilal
1 Bilal
2 Bilal
3 Bilal
4 Bilal
5 Bilal
6 Bilal
7 Bilal
8 Bilal
9 Bilal

In [16]:
for b in range (5, 10):
    print(b, "hi")

5 hi
6 hi
7 hi
8 hi
9 hi

In [17]:
for c in range (0, 10, 2): #stepping (start, end-1, step)
    print(c, "hi")

0 hi
2 hi
4 hi
6 hi
8 hi

In [23]:
for b in range (10, 4, -5): #reversing
    print(b, "hi")

10 hi
5 hi

In [25]:
for e in range (0, 5):
    print(e, "a")
for e in range (0, 5):
    print(e, "b")

0 a
1 a
2 a
3 a
4 a
0 b
1 b
2 b
3 b
4 b

In [27]:
for name in ["khi", "lhr", "multan"]:
    print(name)

khi
lhr
multan

In [28]:
for character in "String":
    print(character)

S
t
r
i
n
g

In [29]:
a = ["khi", "lhr", "multan"]

In [ ]:
#pass, break, cntinue

In [54]:
for a in range (10):
    if a==5:
        break
    print(a)

0
1
2
3
4

In [51]:
friend = ["a" , "b" , "c" , "d" , "e" , "f" , "g"]
for friends in friend:
    if friends!= "e":
        print("continue and enjoy party")
    else:
        print("party is over")
        break

continue and enjoy party
continue and enjoy party
continue and enjoy party
continue and enjoy party
party is over

In [56]:
for e in range (10):
    pass #where we want to leave the body empty so there can be no eror

In [67]:
table = int(input("Enter the table number: "))
for Table in range (1, 11):
    print (f"{table} x {Table}= {table*Table}")

Enter the table number: 13
13 x 1= 13
13 x 2= 26
13 x 3= 39
13 x 4= 52
13 x 5= 65
13 x 6= 78
13 x 7= 91
13 x 8= 104
13 x 9= 117
13 x 10= 130

In [68]:
#nested

In [70]:
for TABLES in range (1, 11,):
    print(f"table of {TABLES}")
    for num in range (1, 11):
        print(f"{TABLES} x {num} = {TABLES*num}")

table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
table of 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
table of 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
table of 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Changing case

In [71]:
"PAKISTAN".lower()

'pakistan'

In [73]:
"pAkisTaN".title()

'Pakistan'

# Dictionary

In [74]:
#by {} called by[]

In [75]:
mydict = {}

In [77]:
type (mydict)

dict

In [78]:
#mydict = {key:member}

In [98]:
mydict = {"name":"PIAIC"}

In [99]:
mydict["name"]

'PIAIC'

In [95]:
infodict = {"Name":"Bilal", "age":16, "class":"XI", "cell":"12345678900" }

In [104]:
print(infodict["Name"])
print(infodict["age"])
print(infodict["class"])
print(infodict["cell"])

Bilal
16
XI
12345678900

In [ ]:
#methods in dict are keys, value, items

In [105]:
for k, v in infodict.items():
    print(f"The key is {k} and the value is {v}")

The key is Name and the value is Bilal
The key is age and the value is 16
The key is class and the value is XI
The key is cell and the value is 12345678900

In [109]:
for key in infodict.keys():
    print(key)

Name
age
class
cell

In [110]:
for value in infodict.keys():
    print(infodict[value])

Bilal
16
XI
12345678900

In [113]:
for Value in infodict.values():
    print(Value)

Bilal
16
XI
12345678900

# list in list

In [115]:
a = [11,22,33,44]
b = [55,66,77,88]
c = ["apple", "banana", a, b]

In [116]:
c[2]

[11, 22, 33, 44]

In [117]:
c[3]

[55, 66, 77, 88]

In [120]:
c[2][1:]

[22, 33, 44]

In [121]:
del c[2][2]

In [122]:
a

[11, 22, 44]

In [128]:
c[2].remove(44)

In [129]:
c

['apple', 'banana', [11, 22], [55, 66, 77, 88]]

In [130]:
d = [1,2,3,infodict]
d

[1, 2, 3, {'Name': 'Bilal', 'age': 16, 'class': 'XI', 'cell': '12345678900'}]

In [131]:
d[3]["Name"]

'Bilal'

In [147]:
dic = {"names": ["a","b","c"]}

In [139]:
dic["names"]

['a', 'b', 'c']

In [148]:
del dic["names"][0]
dic["names"].remove("b")
dic["names"]

['c']

In [149]:
#dictionary in dictionary

In [150]:
x = {"cont":"one"}
y = {"new": x}

In [151]:
z = {"a":"b", "a":"c"}

In [152]:
z["a"]

'c'

In [153]:
z

{'a': 'c'}