In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
frame = pd.DataFrame(np.random.randn(4, 3),
                     columns = list ("bde"),
                     index = ["Utha", "Texas", "California", "Ohio"])
print(frame)

                   b         d         e
Utha       -0.186184 -0.099945  1.649820
Texas      -0.101186 -0.565698  0.218837
California  0.610891  1.243056  1.579769
Ohio       -1.292030 -1.027917  0.589412

In [14]:
def min_max(x):
    return pd.Series( [x.max(), x.min()], index = ["max", "min"])
    #return (x.max(), x.min())
df = frame.apply(min_max)
print(df, "\n", type(df))

            b         d         e
max  0.610891  1.243056  1.649820
min -1.292030 -1.027917  0.218837
 <class 'pandas.core.frame.DataFrame'>

In [23]:
f = lambda x: (x.max() , x.min()) #one line function
d_f = frame.apply(f)
print(d_f, "\n", type(d_f))

b    (0.6108905587584625, -1.2920299355065974)
d     (1.2430557041361423, -1.027916893757233)
e     (1.6498200928847115, 0.2188369263237684)
dtype: object
 <class 'pandas.core.series.Series'>

In [19]:
print(frame["d"]. min())
print(frame["d"].max())
print(frame["d"].max() - frame["d"]. min())

-1.027916893757233
1.2430557041361423
2.2709725978933752

In [24]:
# sort by values
print( frame.sort_values(by='b') )
print(frame.rank(ascending=False, method='max'))
print(frame.rank(ascending=True, method='min'))
print( frame.rank(axis='columns'))

                   b         d         e
Ohio       -1.292030 -1.027917  0.589412
Utha       -0.186184 -0.099945  1.649820
Texas      -0.101186 -0.565698  0.218837
California  0.610891  1.243056  1.579769
              b    d    e
Utha        3.0  2.0  1.0
Texas       2.0  3.0  4.0
California  1.0  1.0  2.0
Ohio        4.0  4.0  3.0
              b    d    e
Utha        2.0  3.0  4.0
Texas       3.0  2.0  1.0
California  4.0  4.0  3.0
Ohio        1.0  1.0  2.0
              b    d    e
Utha        1.0  2.0  3.0
Texas       2.0  1.0  3.0
California  1.0  2.0  3.0
Ohio        1.0  2.0  3.0

In [35]:
#Summarizing and Computing Descriptive Statistics

df = pd.DataFrame([
                    [1.4, np.nan], [7.1, -4.5],
                    [np.nan, np.nan], [0.75, -1.3]
                   ], index=['a', 'b', 'c', 'd'], columns=['one', 'two'])
print(df)
x = df.mean(axis = 1, skipna = False)
#x = df.mean(axis = 1, skipna = True)
print()
print(x)
#print( df.sum())
#print()
print( df.sum(axis='columns'))
# note: use of skipna _____ skips nan

#1, columns will take mean of column
#0, rows, () will take mean of row
#True will not take nan ____ skipna
#False will take nan ____ skipna

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [ ]:
# unique values
df = pd.DataFrame([
                    [1.4,1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4],
                    [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]
                   ], index=['a', 'b', 'c', 'd'], columns=['one', 'two', 'three', 'four'])
print(df)
print()
print(df['one'].unique(), df['two'].unique() )
df['one'].value_counts()

#end of chapter 1